@font-face {
  font-family: "exo20";
  font-display: swap;
  src: url("./../fonts/exo20-thin.woff2") format("woff2"),
    url("./../fonts/exo20-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
